.icon {
    background-image: url('./glyphicons-halflings.png');
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon-hover-only .icon { display: none; }
.icon-hover-only:hover .icon { display: inline-block; }

.icon-plus {        background-position: -405px -93px; }
.icon-arrow-down {  background-position: -312px -117px; }

