<a href="#" class="dropdown-trigger">
    <span>{{defaultOption}}</span>
    <i class="icon icon-arrow-down"></i>
</a>
<ul class="dropdown-menu hide">
    {{#options}}
    <li class="option">
        <a href="#" data-value="{{value}}">{{text}}</a>
    </li>
    {{/options}}
</ul>
